:root{
   --transition: all 0.3s ease;
}

body {
   font-family: 'Lato', sans-serif;
   margin: 20px;
   padding: 0;
   background-color: #f8f9fa;
   text-align: center;
}

.page-layout {
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 20px;
   padding: 20px;
}

.card-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   max-height: calc(100vh - 100px);
   overflow-y: auto;
}

.card {
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   text-align: left;
   transition: var(--transition);
   width: 100%;
   min-height: 350px;
   cursor: pointer;
}

.card:hover {
   transform: translateY(-5px);
}

.card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   display: block;
   transition: var(--transition);
}

.card-content {
   padding: 15px;
}

.card h2 {
   font-size: 1.3em;
   margin: 0 0 10px;
   color: #333;
}

.card p {
   font-size: 1em;
   margin: 5px 0;
   color: #555;
}

#map {
   height: 100%;
   width: 100%;
   border-radius: 15px;
   border: 1px solid rgba(0, 0, 0, 0.05);
}

.map-container {
   position: sticky;
   top: 20px;
   height: calc(100vh - 180px);
   padding-left: 10px;
   margin: 0;
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}

.details-content img {
   height: 200px;
}