<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Listing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/af33664da2.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SBLTR logo">
        </a>
        <div class="nav-icons">
            <div class="dropdown">
                <a href="#" class="favorites tooltip" style="margin-right: 15px;">
                    <i class="fa-solid fa-user"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('profile_page') }}">View Profile</a>
                    <a href="{{ url_for('login') }}">Logout</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="{{ url_for('add_listing') }}" class="favorites tooltip" style="margin-right: 15px;">
                    <i class="fa-solid fa-plus"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{{ url_for('add_listing') }}">Add a Listing</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="{{ url_for('favorites')}}" class="favorites tooltip">
                    <i class="fa-solid fa-heart"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{{ url_for('favorites') }}" class="last-item">View Favorite Listings</a>
                </div>
            </div>
        </div>
    </header>

    <div>
        <div class="add-listing">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="add-listing-form">
                <h1>Add a New Listing</h1>
                <form method="POST" enctype="multipart/form-data">
                    <div class="input-box">
                        <input type="text" id="address" name="address" placeholder="" required>
                        <label for="address" class="form-label">Address:</label>
                    </div>

                    <div class="input-box">
                        <textarea name="description" id="description" rows="4" 
                            placeholder=""></textarea>
                        <label for="description" class="form-label">Description:</label>
                    </div>

                    <div class="input-box">
                        <select id="semester" name="semester" required>
                            <option value=""></option>
                            <option value="Summer 2025">Summer 2025</option>
                            <option value="Fall 2025">Fall 2025</option>
                            <option value="Spring 2026">Spring 2026</option>
                        </select>
                        <label for="semester" class="form-label">Semester:</label>
                    </div>

                    <div class="input-box">
                        <input type="number" id="roommates" name="roommates" required>
                        <label for="roommates" class="form-label">Number of Roommates:</label>
                    </div>

                    <div class="input-box">
                        <input type="number" id="bathrooms" name="bathrooms" step="0.5" min="1" required>
                        <label for="bathrooms" class="form-label">Number of Bathrooms:</label>
                    </div>

                    <div class="input-box">
                        <input type="number" id="rent" name="rent" required>
                        <label for="rent" class="form-label">Rent ($):</label>
                    </div>

                    <div class="file-select">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" id="image" name="image" accept="image/*" required multiple>
                    </div>

                    <div class="image-preview-container">
                        <div id="imagePreview" class="image-preview">
                            <div class="no-images-uploaded">
                                <img src="{{ url_for('static', filename='images/upload_images_to_preview.png') }}"
                                        alt="Photo that says to upload images to preview them here">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tags:</label>
                        <div>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="price_negotiable">
                                <span class="tag-label">Price Negotiable</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="utilities_included">
                                <span class="tag-label">Utilities Included</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="pet_friendly">
                                <span class="tag-label">Pet Friendly</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="dates_flexible">
                                <span class="tag-label">Dates Flexible</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="in_unit_laundry">
                                <span class="tag-label">In-unit Laundry</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="parking">
                                <span class="tag-label">On-site Parking</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="ac">
                                <span class="tag-label">Air Conditioning</span>
                            </label>
                            <label class="tag-checkbox">
                                <input type="checkbox" name="tags" value="dishwasher">
                                <span class="tag-label">Dishwasher</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">Add Listing</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- JavaScript to display images user uploaded -->
    <script>
        document.getElementById('image').addEventListener('change', function(event) {
            const imagePreview = document.getElementById("imagePreview");
            imagePreview.innerHTML = '';

            // If the user uploaded images (length is > 0). Display these images.
            if(this.files.length > 0){
                const previewGrid = document.createElement('div');
                previewGrid.className = 'preview-grid';

                for (let i = 0; i < this.files.length; i++) {
                    const file = this.files[i];

                    if (!file.type.startsWith('image/')) {
                        continue;
                    }

                    const previewItem = document.createElement('div');
                    previewItem.className = 'preview-item';

                    const img = document.createElement('img');
                    img.className = 'preview-image';

                    const fileUrl = URL.createObjectURL(file);
                    img.src = fileUrl;
                    img.alt = `Property image ${i+1}`;

                    previewItem.appendChild(img);
                    previewGrid.appendChild(previewItem);
                }

                imagePreview.appendChild(previewGrid);
            }
        });
    </script>

</body>
</html>