<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sbltr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Call map function -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
    <!-- Needed for map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- Splide CSS for image carousel -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.splide').forEach(carousel => {
                new Splide(carousel, {
                    type: 'loop',
                    perPage: 1,
                    rewind: true
                }).mount();
            });
        });
    </script>
</head>
<body>
    <h1>Available Listings</h1>
    <div class="page-layout">
        <div class="card-container">
            {% if listings %}
                {% for listing in listings %}
                    <a href="{{ url_for('listing_details', listing_id=listing.id) }}" class="card-link">
                        <div class="card"
                            data-lat="{{ listing.latitude }}" 
                            data-lng="{{ listing.longitude }}">
                        
                            {% if listing.image|length > 1 %}
                                <section id="image-carousel-{{ loop.index }}" class="splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            {% for image in listing.image %}
                                            <li class="splide__slide">
                                                <img src="data:image/jpeg;base64, {{ image }}" alt="House">
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </section>
                            {% else %}
                                <img src="data:image/jpeg;base64, {{ listing.image[0] }}" alt="House">
                            {% endif %}
                            <div class="card-content">
                                <h2>{{ listing.display_address }}</h2>
                                <p><strong>Semester:</strong> {{ listing.semester }}</p>
                                <p><strong>Distance from Campus:</strong> {{ listing.distance }} miles</p>
                                <p><strong># of Roommates:</strong> {{ listing.roommates }}</p>
                                <p><strong>Rent:</strong> ${{ listing.rent }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No listings Available.</p>
            {% endif %}
        </div>

        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='map.js') }}"></script>

    <a href="{{ url_for('add_listing') }}">Add a Listing</a>
    <!-- Temp -->
    <p><a href="{{ url_for('login') }}">Go back to login</a></p>
</body>
</html>
