<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sbltr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Call map function -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
    <!-- Needed for map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- Splide CSS for image carousel -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="https://kit.fontawesome.com/af33664da2.js" crossorigin="anonymous"></script>
    
    <!-- For the carousel element -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.splide').forEach(carousel => {
                new Splide(carousel, {
                    type: 'loop',
                    perPage: 1,
                    rewind: true
                }).mount();

                // prevents clicks on the arrows from triggering the details page
                const arrows = carousel.querySelectorAll('.splide__arrow');
                arrows.forEach(arrow => {
                    arrow.addEventListener('click', function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                    });
                });
            });
        });
    </script>
    
    <!-- Tracks the position of the window and restores the position when the page reloads -->
    <script>
        window.addEventListener("beforeunload", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    
        window.addEventListener("load", function () {
            let scrollPosition = sessionStorage.getItem("scrollPosition");
            if (scrollPosition !== null) {
                window.scrollTo(0, scrollPosition);
                sessionStorage.removeItem("scrollPosition");
            }
        });
    </script>
</head>
<body>
    <header>
        <h1>Available Listings</h1>
        <p>
            <a href="{{ url_for('add_listing') }}" class="favorites tooltip" style="margin-right: 15px;">
                <i class="fa-solid fa-plus"></i>
                <span class="tooltiptext">Add a Listing</span>
            </a>
            <a href="{{ url_for('favorites') }}" class="favorites tooltip">
                <i class="fa-solid fa-heart"></i>
                <span class="tooltiptext">Favorites</span>
            </a>
        </p>
    </header>

    <!-- Advanced filters button -->
    <button id="advanced-filters-btn" class="advanced-filters-btn">Advanced Filters</button>

    <!-- Overlay window for filter menu-->
    <div id="advanced-filters-overlay" class="advanced-filters-overlay" style="display: none;">
        <div class="overlay-content">
            <div id="advanced-filters-form">Advanced Filters</div>
            <button type="button" id="apply-filters-btn">Apply Filters</button>
            <button type="button" id="close-filters-btn">Close</button>
        </div>
    </div>

    <!-- Clear filters button -->
    <button id="clear-filters-btn">Clear Filters</button>

    <form id="filter" method="GET" action="{{ url_for('home') }}" class="filter">
        <label for="max-rent">Max Rent ($):</label>
        <input type="number" id="max-rent" name="max_rent" placeholder="5000">

        <label for="roommates">Number of Roommates:</label>
        <input type="number" id="roommates" name="roommates" placeholder="Any">

        <label for="semester">Semester:</label>
        <select id="semester" name="semester">
            <option value="Any">Any</option>
            <option value="Summer">Summer 2025</option>
            <option value="Fall">Fall 2025</option>
            <option value="Spring">Spring 2026</option>
        </select>  

        <label for="distance">Max Distance (miles):</label>
        <input type="number" step="0.01" id="distance" name="max_distance" placeholder="5">

        <button type="submit">Filter</button>
    </form>

    <div class="page-layout">
        <div class="card-container">
            {% if listings %}
                {% for listing in listings %}
                    <a href="{{ url_for('listing_details', listing_id=listing.id) }}" class="card-link">
                        <div class="card"
                            data-lat="{{ listing.latitude }}" 
                            data-lng="{{ listing.longitude }}">
                        
                            {% if listing.image|length > 1 %}
                                <section id="image-carousel-{{ loop.index }}" class="splide" onclick="event.stopPropagation()">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            {% for image in listing.image %}
                                            <li class="splide__slide">
                                                <img src="data:image/jpeg;base64, {{ image }}" alt="House">
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </section>
                            {% else %}
                                <img src="data:image/jpeg;base64, {{ listing.image[0] }}" alt="House">
                            {% endif %}
                            <div class="card-content">
                                <h2>{{ listing.display_address }}</h2>
                                <p class="rent"><strong>${{ listing.rent }}/month</strong> - {{ listing.semester }}</p>
                                <p><strong>{{ listing.roommates }}</strong> Roommates</p>
                                {% if listing.tags %}
                                <div class="card-tags">
                                    {% for tag in listing.tags %}
                                        <span class="tag">
                                            {% if tag == 'price_negotiable' %}
                                                Price Negotiable
                                            {% elif tag == 'utilities_included' %}
                                                Utilities Included
                                            {% elif tag == 'pet_friendly' %}
                                                Pet Friendly
                                            {% elif tag == 'dates_flexible' %}
                                                Dates Flexible
                                            {% elif tag == 'in_unit_laundry' %}
                                                In-unit Laundry
                                            {% elif tag == 'parking' %}
                                                On-site Parking
                                            {% elif tag == 'ac' %}
                                                AC
                                            {% elif tag == 'dishwasher' %}
                                                Dishwasher
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            </div>
                            {% if listing.id in favorites %}
                                <form action="{{ url_for('delete_favorite', listing=listing.id) }}" method="POST">
                                    <button type="submit" class="in-favorites">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('add_favorite', listing=listing.id) }}" method="POST">
                                    <button type="submit" class="out-favorites">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No listings Available.</p>
            {% endif %}
        </div>

        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='map.js') }}"></script>

    <script src="{{ url_for('static', filename='tag_filters.js') }}"></script>

    <!-- Temp -->
    <p><a href="{{ url_for('login') }}">Go back to login</a></p>
</body>
</html>