<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>sbltr</title>
</head>
<body>
    <h1>Available Housing</h1>

    <nav>
        <a href="{{ url_for('add_listing') }}" class="btn">Add a Listing</a>
    </nav>

    <div class="main-container">
        <div class="listing-container">
            {% for listing in listings %}
            <div class="card">
                <h2 class="card-title">{{ listing.address }}</h2>
                <figure><img src="data:image/jpeg;base64, {{ listing.image }}" alt="House" class="card-img"></figure>
                <div class="card-body">
                    <p class="card-text"> {{ listing.semester }} Semester</p>
                    <p class="card-text"> ${{ listing.rent }}/month</p>
                    <p class="card-text"> {{ listing.roommates }} Roommates</p>
                    <p class="card-text"> {{ listing.distance }} miles from campus</p>
                    <a href="{{ url_for('listing_details', id=listing.id) }}">
                        <button>More details</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="map-container">
            <p>map placeholder</p>
        </div>
    </div>
    <!-- Temp -->
    <p><a href="{{ url_for('login') }}">Go back to login</a></p>
</body>

</html>
