<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Sign Up</title>
    <style>
        /* password toggle icon styling - will need to change this when we style the login and signup pages. */
        /* Eye currently from GeeksForGeeks. Will want to change that. */
        .password-container {
            position: relative;
            display: inline-block;
        }

        /* password input */
        .password-container input[type="password"],
        .password-container input[type="text"] {
            width: 100%;
            box-sizing: border-box;
        }

        /* eye icon */
        .password-container .toggle-password {
            position: absolute;
            right: 3%;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            width: 10%;
            height: auto;
        }
    </style>
</head>
<body class="auth-page">
    <div class="overlay"></div>
    <div class="auth-container">
        <h1>Create an Account</h1>

        <div class="flash-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <form id = "signUpForm">
            <div id="signUpMessage" class="messageDiv" style="display:none;"></div>

            <div class="auth-form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="auth-form-group">
                <label for="password">Password</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" required>
                    <img src="../static/images/eye_vis_icon.png"
                         class="toggle-password"
                         id="togglePassword" 
                         alt="eye_icon">
                </div>
            </div>

            <button id="generatePassword" type="button">Generate Strong Password</button>
            <button id="submitSignUp" type="submit">Sign Up</button>
        </form>

        <div class="auth-links">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>

        <div id="verificationMessage" style="display:none;">
            Verifying your email...
        </div>
    </div>

    <script> 
        const FIREBASE_CONFIG_KEY = "{{ firebase_config_key }}";
        const FIREBASE_AUTH_DOMAIN = "{{ firebase_auth_domain }}";
        const FIREBASE_PROJECT_ID = "{{ firebase_project_id }}";
        const FIREBASE_STORAGE_BUCKET = "{{ firebase_storage_bucket }}";
        const FIREBASE_MESSAGING_SENDER_ID = "{{ firebase_messaging_sender_id }}";
        const FIREBASE_MEASUREMENT_ID = "{{ firebase_measurement_id }}";
        const FIREBASE_APP_ID = "{{ firebase_app_id }}";
    </script>

    <script>
        function generateStrongPassword(){
            // Length of password will be between 6 - 25 characters in length.
            const length = Math.floor(Math.random() * (25 - 6 + 1)) + 6;

            const upperCaseLetters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            const lowerCaseLetters = "abcdefghijklmnopqrstuvwxyz";
            const digit = "0123456789";
            const specialCharacters = "!@#$%^&*()_+=-`~[]\\{}|;':\",./<>?";

            // One uppercase letter
            const randomUpper = upperCaseLetters.charAt(Math.floor(Math.random() * upperCaseLetters.length));
            // One lowercase letter
            const randomLower = lowerCaseLetters.charAt(Math.floor(Math.random() * lowerCaseLetters.length));
            // One digit
            const randomDigit = digit.charAt(Math.floor(Math.random() * digit.length));
            // One special character
            const randomSpecialChar = specialCharacters.charAt(Math.floor(Math.random() * specialCharacters.length));

            let password = randomUpper + randomUpper + randomDigit + randomSpecialChar;

            const allCharacters = upperCaseLetters + lowerCaseLetters + digit + specialCharacters;

            // fill in the rest of the password with random characters
            for (let i = 4; i < length; i++){
                const randomIndex = Math.floor(Math.random() * allCharacters.length);
                password += allCharacters.charAt(randomIndex);
            }

            // shuffle the password
            var arr = password.split('');
            var n = arr.length;

            for (var i = 0; i < n - 1; ++i){
                var j = Math.floor(Math.random() * n);

                var temp = arr[i];
                arr[i] = arr[j];
                arr[j] = temp;
            }

            password = arr.join('')

            // set the password in the input field.
            document.getElementById('password').value = password;

            // TODO: Either print the strong password out on screen or add a view feature to the password text box

            return password;
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Attach click event to the generate password button
            document.getElementById('generatePassword').addEventListener('click', function(e) {
                e.preventDefault(); // Prevent form submission
                generateStrongPassword();
            });
        });

    </script>

    <!-- Password visibility toggling-->
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // Toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // Toggle the eye icon
            if (togglePassword.src.match("eye_vis_icon.png")) {
                togglePassword.src = "static/images/eye_novis_icon.png";
            } else {
                togglePassword.src = "static/images/eye_vis_icon.png";
            }
        });
    </script>

    <script type="module" src = "../static/firebaseauth.js"></script>
</body>
</html>
