<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Create an Account</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form id = "signUpForm">
        <div id="signUpMessage" class="messageDiv" style="display:none;"></div>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button id ="submitSignUp" type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>

    <div id="verificationMessage" style="display:none;">
        Verifying your email...
    </div>

    <script> 
        const FIREBASE_CONFIG_KEY = "{{ firebase_config_key }}";
        const FIREBASE_AUTH_DOMAIN = "{{ firebase_auth_domain }}";
        const FIREBASE_PROJECT_ID = "{{ firebase_project_id }}";
        const FIREBASE_STORAGE_BUCKET = "{{ firebase_storage_bucket }}";
        const FIREBASE_MESSAGING_SENDER_ID = "{{ firebase_messaging_sender_id }}";
        const FIREBASE_MEASUREMENT_ID = "{{ firebase_measurement_id }}";
        const FIREBASE_APP_ID = "{{ firebase_app_id }}";
    </script>
    <script type="module" src = "../static/firebaseauth.js"></script>
</body>
</html>
